# Root
Root_Email=
Root_Password=

# Base de données
DB_Host=
DB_Port=
DB_Database=
DB_Username=
DB_Password=
DB_EncryptionKey=

# JWT
Jwt_Key=
Jwt_Issuer=
Jwt_Audience=
Jwt_Expiry_Manager=
Jwt_Expiry_User=

# PIN
Pin_RegistrationValidationRequestExpiry=
Pin_PasswordResetRequestExpiry=

# SMTP
Smtp_Host=
Smtp_Port=
Smtp_SenderEmail=

# Logging
Logging_LogLevel_Default=