services:
  db:
    image: postgres
    restart: always
    shm_size: 128mb
    ports:
      - "${DB__Port}:5432"
    environment:
      POSTGRES_PASSWORD: ${DB__Password}
      POSTGRES_USER: ${DB__Username}
      POSTGRES_DB: ${DB__Database}

  smtp:
    image: maildev/maildev
    environment:
      MAILDEV_SMTP_PORT: 1026
    ports:
      - "3000:1080"         # Interface web
      - "${Smtp__Port}:1026" # SMTP

  resr:
    build:
      context: .
      dockerfile: src/Presentation/Api/Dockerfile
    ports:
      - 7150:443
    env_file:
      - .env
    environment:
      ASPNETCORE_URLS: "https://+;http://+"
      ASPNETCORE_HTTPS_PORTS: "443"
    volumes:
      - ${USERPROFILE}/.aspnet/https:/https